@charset "UTF-8";
/* GLOBAL ========================*/
:root {
    --dark-blue: rgba(54, 63, 95, 1);
    --gold: rgba(250, 250, 00, 1);
    --dark-green: rgba(46,74,34,1);
    --green:  hsl(147, 80%, 36%);
    --lighter-green: rgba(74, 170, 39,1);
    --red: hsl(0, 81%, 54%);
    --background: hsl(216, 20%, 95%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 1.2em "Bodoni Moda", serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: var(--background);
}
    /* TEXTOS ============================*/
h2::first-letter, h3::first-letter, p::first-letter, th::first-letter, td::first-letter {
    text-transform: uppercase;
}

.title{
    color: white;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    text-align: center;
    font-weight: 500;
}

/* HEADER =========================== */
header {
    background: var(--dark-green);
    padding: 2rem 2rem 6rem 2rem;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

header h1::first-letter {
    color: var(--gold);
}
header h1 {
    float:center;
    unicode-bidi:bidi-override;
    direction: rtl;
}

/* CONTENT =========================== */

.container {
    width: min(90vw, 800px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container section {
    margin-bottom: max(5vh, 30px);
}
    /* BALANCE ======================= */
#balance {
    margin-top: -5rem;
}
#balance-title{
    text-align: left;
}
.card {
    background: white;
    font-size: 1rem;
    padding: 1.5rem 2rem;
    border-radius: .25rem;

    margin-bottom: 2rem;
    width: min(80vw, 800px);
    color: var(--dark-blue);
}

.card h3 {
    font-weight: 500;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
}

.card.total {
    background: var(--lighter-green);
    color: white;
}
#data-table {
    width: min(90vw, 800px);
    font-size: .6rem;
    border-spacing: 0 .5rem;
    text-align: center;
}
#data-table tr {
    background: white;
    opacity: .7;
    border: 2px solid transparent;
    transition: all .5s;
}
#data-table tr:hover {
    opacity: 1;
}
#data-table td {
    padding: 1rem 2rem;
    font-weight: 500;
}
#data-table th {
    font-weight: 500;
    padding: 1rem 2rem;
    text-align: left;
    opacity: .6;
}

#data-table thead th:first-child, 
#data-table tbody td:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color:var(--green);
}

td.expense {
    color: var(--red);
}

/* FOOTER ============================ */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);

    opacity: .6;
}